[bumpversion]
current_version = 1.6.0
commit = True
tag = True
message = Version Updated: {current_version} → {new_version} 🚀

[bumpversion:file:pyproject.toml]

[bumpversion:file:bump2v/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
